.deps
.libs
*.a
*.gz
*.la
*.lo
*.o
aclocal.m4
autom4te.cache
build-scripts/*.m4
build-scripts/config.guess
build-scripts/config.sub
build-scripts/depcomp
build-scripts/install-sh
build-scripts/missing
config.cache
config.log
config.status
config.h.in
config.h
configure
libtool
Makefile
Makefile.in
stamp-h1
osc2k8056
